body {
  background: white;
}

div.results div.result {
  height: 75px;
  width: 100%;
  cursor: pointer;
  background-color: blue;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.results div.result div.avatar {
  height: 45px;
  width: 45px;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  margin: 15px;
}

div.results div.result div.username {
  display: inline-block;
}

div.results div.result div.username span {
  display: inline-block;
  vertical-align: middle;
}
