<h2>Welcome to Git Searcher</h2>

<form class="search-form" ng-submit="Main.search()" >

  <input type="text" name="search-input" placeholder="Type your search in here" ng-model="Main.searchInput">

  <input type="submit" name="search-submit">

</form>

<div class="error" ng-if="Main.error">
  <p>
    Error! {{Main.error}}
  </p>
</div>

<div class="message" ng-if="Main.message">
  <p>
    {{Main.message}}
  </p>
</div>

<div class="results">
  <div class="result" ng-repeat="result in Main.searchResults.items">
    <h3>{{result.login}}</h3>
    <p>
      {{result.url}}
    </p>
  </div>

</div>


<p>
  Figure out offsets and pagination. Also filters.
</p>
