<h2>Welcome to Git Searcher</h2>

<h2>
  Add (Next Page) etc to pagination. Also details view page for a selected user from the results pages (name, location, avatar, 3
repositories with higher stargazers_count and other information you consider relevant)
</h2>

<form class="search-form" ng-submit="Main.newSearch()" >

  <input type="text" name="search-input" placeholder="Type your search in here" ng-model="Main.searchInput">

  <input type="submit" name="search-submit" value="New Search">

</form>

<div class="messages">
  <p ng-if="Main.error">
    Error! {{Main.error}}
  </p>
  <p ng-if="Main.message">
    {{Main.message}}
  </p>
  <p ng-if="Main.searchInputUsed">
    You searched for: {{Main.searchInputUsed}}.
  </p>
  <p ng-if="Main.searchResults.total_count">
    {{Main.searchResults.total_count}} result<span ng-if="Main.searchResults.total_count > 1">s</span> found:
  </p>
</div>

<div class="results" ng-if="Main.searchResults">


  <div class="result" ng-repeat="result in Main.searchResults.items">
    <h3>{{result.login}}</h3>
    <p>
      {{result.url}}
    </p>
  </div>

</div>

<div class="pages">
  <button type="button" name="button" ng-repeat="page in Main.pageArray track by $index" ng-click="Main.search($index+1, Main.searchInputUsed, Main.perPageUsed, Main.searchOrderUsed)">{{$index + 1}}</button>
</div>
